@model IEnumerable<BLMS.Models.SOP.SOP>

@{
    ViewData["Title"] = "SOP & Guideline";
    Layout = "~/Views/Shared/_SOPLayout.cshtml";
}

<div class="container-fluid mt-5 mt-md-0 mb-0">
    <!-- Grid row -->
    <div class="row" style="margin-top: -100px;">
        <!-- Grid column -->
        <div class="col-md-12 px-lg-5">
            <!-- Card -->
            <div class="card pb-5 mx-md-3">
                <div class="card-body">
                    <div class="container text-center my-5">
                        <h2 class="title font-weight-bold my-3 wow fadeIn" data-wow-delay="0.2s">
                            <strong>SOP AND GUIDELINES</strong>
                        </h2>

                        <div class="row wow fadeIn" data-wow-delay="0.2s" style="font-size: 12px;">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="alert" class="form-group text-left" style="font-size: 14px;">
                                            @Html.Raw(@ViewBag.Alert)
                                        </div>

                                        <table id="SOP" class="table table-hover table-wrapper table-striped table-responsive-lg text-left" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-sm font-weight-bold col-1" style="font-size: 12px;">No.</th>
                                                    <th class="text-sm font-weight-bold" style="font-size: 12px;">
                                                        @Html.DisplayNameFor(model => model.SOPName)
                                                    </th>
                                                    <th class="text-sm font-weight-bold" style="font-size: 12px;">
                                                        @Html.DisplayNameFor(model => model.RefNo)
                                                    </th>
                                                    <th class="text-sm font-weight-bold" style="font-size: 12px;">
                                                        @Html.DisplayNameFor(model => model.RevNo)
                                                    </th>
                                                    <th class="text-sm font-weight-bold" style="font-size: 12px;">Effective Date</th>
                                                    <th class="text-sm font-weight-bold" style="font-size: 12px;">File</th>
                                                    <th class="text-sm font-weight-bold col-1" style="font-size: 12px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int i = 1; }
                                                @foreach (var item in Model)
                                                {
                                                    <tr id="row_@item.SOPID">
                                                        <td class="text-sm text-center" style="font-size: 12px;">
                                                            @i
                                                        </td>
                                                        <td class="text-sm col-4" style="font-size: 12px;">
                                                            <a href="@Url.Action("Details", "SOP", new {id=item.SOPID})" class="font-weight-bold">
                                                                @Html.DisplayFor(modelItem => item.SOPName)
                                                            </a>
                                                        </td>
                                                        <td class="text-sm" style="font-size: 12px;">
                                                            @Html.DisplayFor(modelItem => item.RefNo)
                                                        </td>
                                                        <td class="text-sm" style="font-size: 12px;">
                                                            @Html.DisplayFor(modelItem => item.RevNo)
                                                        </td>
                                                        <td class="text-sm col-2" style="font-size: 12px;">
                                                            @Html.DisplayFor(modelItem => item.EffectiveDT)
                                                        </td>
                                                        <td class="text-center col-1" style="font-size: 12px;">
                                                            @if (item.HasFile == true)
                                                            {
                                                                <a class="btn btn-outline-dark heavy-rain-gradient btn-rounded btn-sm px-2" title="Download License File" href="@Url.Action("DownloadSOPFile", "SOP", new {id=item.SOPID})">
                                                                    <i class="fas fa-download mt-0"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <i class="text-sm font-italic" style="font-size: 12px;">No Attachment</i>
                                                            }
                                                        </td>
                                                        <td class="text-center col-1" style="font-size: 12px;">
                                                            <a class="btn btn-outline-dark frozen-dreams-gradient btn-rounded btn-sm px-2" title="Edit SOP" href="@Url.Action("Edit", "SOP", new {id=item.SOPID})">
                                                                <i class="fas fa-pen-alt mt-0"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>

                                        <a asp-action="Create" class="btn btn-outline-dark tempting-azure-gradient btn-block text-white text-sm font-weight-bold" style="font-size: 12px;">CREATE SOP & GUIDELINE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CSS
{
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <link href="~/mdb/css/addons/datatables.min.css" rel="stylesheet" />
    <link href="~/mdb/css/addons/datatables-select.min.css" rel="stylesheet" />

    <style>
        .select-wrapper input.select-dropdown {
            font-size: 12px;
        }

        .dropdown-content li > span {
            font-size: 12px;
        }
    </style>
}

@section Scripts {
    <script>
        new WOW().init();

        $(document).ready(function () {
            $('#SOP').DataTable();
            $('#SOP_wrapper').find('label').each(function () {
                $(this).parent().append($(this).children());
            });
            $('#SOP_wrapper .dataTables_filter').find('input').each(function () {
                $('input').attr("placeholder", "Search");
                $('input').attr("style", 'font-size: 12px');
                $('input').removeClass('form-control-sm');
            });
            $('#SOP_wrapper .dataTables_length').addClass('d-flex flex-row');
            $('#SOP_wrapper .dataTables_filter').addClass('md-form');
            $('#SOP_wrapper select').removeClass(
                'custom-select custom-select-sm form-control form-control-sm');
            $('#SOP_wrapper select').addClass('mdb-select');
            $('#SOP_wrapper .mdb-select').materialSelect();
            $('#SOP_wrapper .dataTables_filter').find('label').remove();
        });

        //auto hide viewbag.alert
        $(document).ready(function () {
            setTimeout(function () {
                $("#alert").fadeOut();
            }, 3000);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
S